* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
} 


/* start of nav bar */
 
.nav-container {
    width: 100%;
    background-color: mintcream;
}

.navigation-area {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

#navigation-initials {
    color:purple;
    justify-self: start;
    margin-left: 20px;
}

#navigation-initials {
    cursor: pointer;
}

.navigation-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color:mediumvioletred;
    text-decoration: none;
}

.nav-links:hover {
     color:yellowgreen;
     transition: all 0.2s ease-out;
}

.nav-links-btn {
    background-color: teal;
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover {
    background-color: transparent;
    color:tomato;
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px #6A4577;
    transition: all 0.3s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #EA7070;
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: relative;
    }

    .navigation-list {
        display: grid;
        grid-template-columns: auto;
        background: #EA7070;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0; 
        transition: all 0.5s ease;
    }

    #navigation-initials {
        margin-left: 20px;
    }

    .navigation-list.active {
        background:#EA7070;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: blueviolet;
        color: cadetblue;
        transition: all 0.4s ease-out;
    }

    .navigation-area {
        width: 100%;
    }

    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: darkblue;
        color: darkgrey;
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: darkblue;
        color: darkgrey;
        transition: all 0.4s ease-out;
    }

    #smart-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #smart-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #smart-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #smart-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* nav bar section end */

html {
    overflow-y: scroll;
    width: 100%;
    
}


body {
    overflow-x: hidden; 
    background-color:lightsalmon; 
    margin: 0;

    
} 

.check-across {
    background-color: #EA7070;
    background-image: linear-gradient(45deg, #6A4577 25%, transparent 25%, transparent 75%, #6A4577 75%, #6A4577),
    linear-gradient(45deg, #6A4577 25%, transparent 25%, transparent 75%, #6A4577 75%, #6A4577);
    background-size: 60px 60px; 
    background-position: 0 0, 30px 30px; 
    height: 100vh;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#name {
    color: #BAFFF5;
    text-align: center;
    font-size: 50px;
    
}

h2 {
    color: #BAFFF5;
    text-align: center;
    font-weight: lighter;
    font-size: 25px;
}

/* about me section begins */

.about-container {
    background-color: #D2D573;
    display:block;
    width: 100%;
    padding: 10px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
    

#me {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    margin: 10px;
    shape-outside: circle();
    
}

#young-me {
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 50%;
    margin: 10px;
    shape-outside: circle();
}

#kittens {
    width: 175px;
    height: 175px;
    float: left;
    border-radius: 50%;
    margin: 10px;
    shape-outside: circle();
}

#oscar {
    width: 125px;
    height: 125px;
    float: right;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}

#about_me  {
    color: darkorchid;
    font-size: 5em;
    margin: 0 auto;
}

.text {
        color:purple;
        font-size: 1em;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        text-align: center;
        letter-spacing: -0.05em;
}

/* media query on about me page */

@media screen and (max-width: 1440px) {

    #about_me {
    font-size: 6em;
    }
    #me {
    width: 375px;
    height: 375px;
    }
    #young-me {
    width: 270px;
    height: 270px;
    }
    #kittens {
    width: 260px;
    height: 260px;
    margin: 1px;
    }
    #oscar {
    width: 200px;
    height: 200px;
    }
    .text {
    font-size: 17px;
    }
}

@media screen and (max-width: 1024px) {

    #about_me {
    font-size: 4em;
    }

    #me {
    width: 300px;
    height: 300px;
    }
    #young-me {
    width: 200px;
    height: 200px;
    }

    #oscar {
    width: 140px;
    height: 140px;
    margin: 0%;
    }

    #kittens {
    width: 150px;
    height: 150px;
    margin: 0;
    }
    .text {
    font-size: 14px;
    }



}


@media screen and (max-width: 768px) {

    #about_me {
    font-size: 2em;
    }
    .text {
    font-size: 10px;
    }
    #kittens {
    width: 120px;
    height: 120px;
    margin: 1px;
    }
    #oscar {
    width: 125px;
    height: 125px;
    margin: 2px;
    }
    #young-me {
    width: 140px;
    height: 140px;
    margin: 10px;
    }
    #me {
    width: 250px;
    height: 250px;
    margin: 10px;
    }


}

@media screen and (max-width: 425px) {

    #about_me  {
    font-size: 30px;
    }
    #me {
    margin: 1px;
    width: 150px;
    height: 150px;
    }

    #kittens {
    width: 90px;
    height: 90px;
     }
     #young-me {
     margin: 1px;
     width: 120px;
     height: 120px;
     }

    .text {
    font-size: 8px;
    padding: 0px;
    }
    #oscar {
    margin: 2px;
    width: 100px;
    height: 100px;
    }

}

@media screen and (max-width: 375px) {

    .text {
    font-size: 7.1px;
    padding: 0;
    }
    #oscar {
    margin: 2px;
    width: 115px;
    height: 115px;
    }
    #me {
    margin: 1px;
    }
    #young-me {
    margin: 1px;
    }
    #kittens {
    margin: 0px;
    }

}


@media screen and (max-width: 320px) {

    #about_me  {
    font-size: 29px;
    }

    .text {
     font-size: 44%;
     padding: 0;
     }
     #me {
        width: 110px;
        height: 110px;
        shape-outside: circle(50%);
     }
     #kittens {
        width: 100px;
        height: 100px;
        shape-outside: circle(50%);
     }
     #oscar {
     width: 100px;
     height: 100px;
     shape-outside: circle(50%);
     }
}

/* image carousel page */

#carousel-container {
    height: 100vh;
}

.art-title {
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    margin: 2%;
    font-family: monospace;
    letter-spacing: normal;
    color: lightseagreen;
    opacity: 0.5;

}

.carousels {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.myCarousels {

    display: none; 
    height: fit-content;
} 


.carousel-image {
    vertical-align: middle;
    object-fit: cover;
    margin-left: 100px;
    border: 30px solid lightseagreen;

}

.reverse, .forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -22px;
    color: deeppink;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 1px 1px 0;

}

.forward {
    right: 0;
    border-radius: 1px 0 0 1px;
}

.reverse:hover, .forward:hover {
    background-color: rgba(102, 173, 206, 0.8);
}

.circle {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: deeppink;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, dot:hover {
    background-color:deepskyblue;

}

.opaque {

-webkit-animation-name: opaque;
-webkit-animation-duration: 2s;
animation-name: opaque;
animation-duration: 2s;

}

@-webkit-keyframes opaque {
    from {opacity: .5}
    to {opacity: 2}
}

@keyframes opaque {
    from {opacity: .5}
    to {opacity: 2}
}

/* Media Query for Image Carousel */



@media screen and (max-width: 1440px) {
    .carousel-image {
    margin-left: 280px;
    height: 650px;
    object-fit: cover;
    position: relative;
    width: 58%;
    margin: auto;
    display: block;
    }
    .reverse, .forward {
    font-size: 100px;
    top: 40%;
    }
    .art-title {
    font-size: 80px;
    }
    .circle {
    height: 50px;
    width: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .carousel-image {
        margin-left: 280px;
        height: 550px;
        object-fit: cover;
        position: relative;
        width: 58%;
        margin: auto;
        display: block;
       
    }
    .reverse, .forward {
     top: 190px;
     font-size: 80px;
    }

    .art-title {
    font-size: 50px;
    padding: 5%;
    }
    .circle {
    height: 30px;
    width: 30px;
    margin: 15px 10px;
    }
}


@media screen and (max-width: 768px) {

    .carousel-image {
    height: 535px;
    position: relative;
    width: 100%;
    margin: auto;
    display: block;

    }
    .reverse, .forward {
        margin-left: 1px;
        font-size: 50px;
        padding: 40px;
        margin-top: 1px;
    
    }

    .circle {
    height: 15px;
    width: 15px;
    margin: 5px 5px;
    }

    .art-title {
    font-size: 30px;
    padding: 0;
    }

}


@media screen and (max-width: 425px) {
    carousel-image {
        height: 435px;
        position: relative;
        width: 100%;
        margin: auto;
        display: block;

}
    .circle {
        height: 9px;
        width: 9px;
        margin: 6px 6px;
    }

}



@media screen and (max-width: 375px) {

    .carousel-image {
    width: 300px;
    height: 300px;
    margin-top: 30%;
    margin-left: 0px;

}
   .reverse, .forward {
    font-size: 50px;
    padding: 2px;
    margin-top: -50px;
   }
   .circle {
   margin: 0 7px;
   }

}

@media screen and (max-width: 320px) {

    .carousel-image {
        object-fit: cover;
        width: 260px;
        height: 300px;
        margin-left: 0px;
        border: 6px solid lightseagreen;
        position: sticky;
    
    }

    .reverse, .forward {
        font-size: 25px;
        margin-top: -20%;
        padding: 20px;

    }

    .circle {
        margin: 0 9px;
        height: 12px;
        width: 12px;
    }

}

/* about me section end */



/* Start of hobbies section */

#interests-container {
    background-color: rgba(183, 232, 252, 0.911); 
    color: deeppink;
    font-family: monospace;
    font-size: xxx-large;
    padding: 15%;
    padding-top: 12%;
    letter-spacing: normal;
    text-align:center;
}

.all-interests {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2em;
} 


.image-box {
    justify-content: center;
    color: deeppink;
    border: 2px solid deeppink;
    position: relative;
    height: fit-content;

}

.coding {
    justify-content: center;
    padding: 0;
    width: 100%;
    position: static;
    max-width: 300px;
    max-height: 500px;
}

.txt-coding {
    font-family: monospace;
    text-align: center;
    align-content: center;
    font-size: 38%;
    padding: 5%;
    margin: 0;
    color: deeppink;
}

.hobby {
        color: deeppink;
        text-transform: capitalize;
        font-family: monospace;
        font-size: 12px;
        text-align: center;
        justify-content: center;
        padding: 11%;
        margin-bottom: 20%;
}

 .txt  {
     font-family: monospace;
     font-size: 10px;
     padding: 2%;
     margin: 0;
     text-align: center;
     letter-spacing: normal;
     color: deeppink;
     height: auto;
     width: 100%;
    
    
} 

.info {
    justify-content: center;
    color: deeppink;
    border: 2px solid deeppink;
    position: relative;
    padding: 10%;
}

/* hobbies section end */


/* apply page begins */

/* these are my colors specifically for light mode on my toggle button */

:root {
    --clr-background: #B5F9C5;
        --clr-box: #D2B5F9;
        --clr-border: #FABDC7;
        --clr-words: #1D614A;
    }

#FAC-container {
    background-color: var(--clr-background);
    display: table;
    padding: 5%;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}

/* dark mode of opposite colors for toggle button */

.dark-mode {
    --clr-background: #4A063A;
    --clr-box: #2D4A06;
    --clr-border: #054238;
    --clr-words: #E29EB5;

}

.wrapper-color-change {
    display:flex;
    justify-content:flex-end;
    align-items: center;
    margin-bottom: 3em;
}

.color-switch {
    width: 5em;
    height: 3em;
    border-radius: 10em;
    background:var(--clr-words);
    border: 4px solid var(--clr-border);
    position: absolute;
    cursor: pointer;
    margin-top: 115%;
    
}

.color-switch-toggle {
    width: 2em;
    height: 1.8em;
    background: var(--clr-background);
    position: absolute;
    border-radius: 11em;
    top: 0.4em;
    left: 0.2em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.color-switch::before {
    content: "Day Transform";
    position: absolute;
    display: inline-block;
    width: 13em;
    left: -10em;
    top: 0.4em;

}

#input-color-switch:checked ~ label .color-switch-toggle {
    transform: translateX(2em);
}

#input-color-switch:checked ~ .color-switch::before {
    content: "Night Transform";
}

#input-color-switch {
    display: none;
}

.apply {
    color: var(--clr-words);
    font-size: 20px;
    text-align: right;
    margin: 20px;
    padding: 1%;
    letter-spacing: 1em;
}

.edgebox--left {
    padding: 2%;
    background-color: var(--clr-box);
    color: var(--clr-words);
    width: 40%;
    float: left;
    border: 4px solid var(--clr-border);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: 10px 0px 10px 0px;
}

.middle-top {
    background-color: var(--clr-box);
    color: var(--clr-words);
    padding: 2%;
    height: 80%;
    width: 50%;
    float: right;
    border: 8px solid var(--clr-border);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: 10px 0px 10px 0px;

}

.edgebox--right {
    padding: 2%;
    background-color: var(--clr-box);
    color: var(--clr-words);
    width: 40%;
    float: left;
    border: 4px solid var(--clr-border);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin-bottom: 20%;
    margin: 10px 0px 10px 0px;
}

.bottom {
    background: var(--clr-border);
    color: var(--clr-words);
    padding: 1em;
    margin-top: 50%;
    clear: both;
    margin: 10px 0px 10px 0px;
}

.fac-text {
    font-size: large;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.edgebox--right p {
    text-align:left;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.edgebox--left p {
    text-align: left;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Media Query for FAC apply page */

@media screen and (max-width: 1440px) {

    .color-switch {
        margin-top: 0;
        }

}


@media screen and (max-width: 768px) {

   .color-switch {
    margin-top: 3%;
    } 

}
@media screen and (max-width: 425px) {
 
    .color-switch {

        margin-right: 5%;
}

}

@media screen and (max-width: 375px) {
 
    .color-switch {

    margin-bottom: 655px;
    margin-top: 185%;
    margin-right: 0%;
}

}

@media screen and (max-width: 320px) {
    div.edgebox--left {
       width: 100%;
       padding: 3%;
       margin-top: 10%;
    }
    div.edgebox--right {
        width: 100%;
        margin-top: 10%;
     }
     div.middle-top {
        width: 100%;
        margin-top: 10%;
     }

     div.bottom {
        width: 100%;
        margin-top: 10%;
     }

     .color-switch {

        margin-bottom: 555px;

     }

}

/* apply page end */

/* Links page and footer begins */

footer {
    background-color: burlywood;

}

#links_container {
    background-image: url(swirly-paint.jpeg);
    background-color: black; 
    background-position: center center; 
    background-size: cover;
    background-attachment: scroll;
}

#lk {
    text-align: center;
    font-size: 30px;
    margin-top: -90%;
    color: lightgoldenrodyellow;
    font-family: 'Indie Flower', cursive;
}

.bg-info {
    text-align: center;
    font-size: 14px;
    margin: 10%;
    color: lightgoldenrodyellow;
    font-family: 'Indie Flower', cursive;
}

#website-link { 
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    display: block;
    color:lightseagreen;
}

.fa fa-github {
  
    content: "\f09b";
    font-weight: 900;
    font-family: 'FontAwesome';
    font-style: normal; 
}

.fab fa-free-code-camp {
    content: "\f2c5";
    font-weight: 900;
    font-family: 'FontAwesome';
    font-style: normal; 
}

.iconify {
    content: url('https://api.iconify.design/simple-icons:codewars.svg?height=24');
    vertical-align: -0.125em;
    font-style: normal; 
    font-weight: 900;
}

hr {
    color:linen;
}

.pjs-copyright p {

    color: lightgoldenrodyellow;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;

}

/* Media Query for Links page and footer */

@media screen and (max-width: 1440px) {

    #links-container {
    background-image: url(swirly-paint.jpeg);
    }

    #lk {
    font-size: 200px;
    padding-top: 40%;
    }
    .bg-info {
    font-size: 90px;
    margin: 2%;
    }

}

@media screen and (max-width: 1024px) {

    #lk {
    font-size: 150px;
    margin-top: -100%;
    }

    .bg-info {
    font-size: 50px;
    margin: 2%;
    }

}

@media screen and (max-width: 768px) {

    #lk {
    font-size: 100px;
    }

    #links-container {
    background-image: url(swirly-paint.jpeg);
    }

}

@media screen and (max-width: 425px) {

     #lk {
     margin-top: -180%;
     }
     #website-link {
     font-size: 40px;
     }
     hr {
     overflow: visible;
     }
     .pjs-copyright p {
     font-size: 30px;
     padding: 5%;
     }


}

@media screen and (max-width: 375px) {

    #lk {
    margin-top: -240%;
    }

     #website-link{
     font-size: 30px;
     }
     .pjs-copyright p {
     font-size: 20px;
     padding: 2%;
     margin-top: 2%;
     }
}

@media screen and (max-width: 320px) {
    #links-container {
    background-image: url(swirly-paint.jpeg);
    }
    #lk {
     margin-top: -240%;
    }
    #website-link {
    text-align: center;
    font-size: 25px;
    justify-content: center;
    display: flex;
    }
    hr {
    overflow: visible;
    }
    .pjs-copyright p {
    font-size: 17px;
    }
}


