* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
} 
html {
    /*overflow: hidden;*/
    width: 100%;
    
}


body {
    /*overflow: hidden; */
    width: 100%;
    background-color:lightsalmon; 
    margin: 0;

    
} 

/* start of nav bar */
 
.nav-container {
    width: 100%;
    background-color: mintcream;
}

.navigation-area {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

#navigation-initials {
    color:purple;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}


.navigation-list {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color:mediumvioletred;
    text-decoration: none;
}

.nav-links:hover {
     color:yellowgreen;
     transition: all 0.2s ease-out;
}

.nav-links-btn {
    background-color: teal;
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover {
    background-color: transparent;
    color:tomato;
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px #6A4577;
    transition: all 0.3s ease-out;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #EA7070;
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-container {
        position: relative;
    }

    .navigation-list {
        display: grid;
        grid-template-columns: auto;
        background: #EA7070;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0; 
        transition: all 0.5s ease;
    }

    #navigation-initials {
        margin-left: 20px;
    }

    .navigation-list.active {
        background:#EA7070;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: blueviolet;
        color: cadetblue;
        transition: all 0.4s ease-out;
    }

    .navigation-area {
        width: 100%;
    }

    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: darkblue;
        color: darkgrey;
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: darkblue;
        color: darkgrey;
        transition: all 0.4s ease-out;
    }

    #smart-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #smart-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #smart-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #smart-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* nav bar section end */



.check-across {
    background-color: #EA7070;
    background-image: linear-gradient(45deg, #6A4577 25%, transparent 25%, transparent 75%, #6A4577 75%, #6A4577),
    linear-gradient(45deg, #6A4577 25%, transparent 25%, transparent 75%, #6A4577 75%, #6A4577);
    background-size: 60px 60px; 
    background-position: 0 0, 30px 30px; 
    height: 100vh;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#name {
    color: #BAFFF5;
    text-align: center;
    font-size: 50px;
    
}

h2 {
    color: #BAFFF5;
    text-align: center;
    font-weight: lighter;
    font-size: 25px;
}

/* about me section begins */

.about-container {
    background: rgb(71,150,166);
    background: radial-gradient(circle, rgba(71,150,166,1) 0%, rgba(223,221,188,1) 45%, rgba(236,201,214,1) 100%);
    margin: auto;
    padding: 5%;
}


#layout-bio-info{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
    padding-top: 5%;
}

.about-box--one {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 8;
}

.about-box--two {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 9;
}

.about-box--three {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 24;
}
    
#myself {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 5px inset #53d0e9;
}

#kittens {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 5px inset #53d0e9;
}

#about_me  {
    color: darkorchid;
    background-color: beige;
    border: 5px inset #53d0e9;
    padding: 30px 0 30px;
    font-size: 2em;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.text {
    color: purple;
    background-color: beige;
    border: 5px inset #53d0e9;
    padding: 5%;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

/* media query on about me page */

@media all and (max-width: 2000px) and (min-width: 1801px) {
    .text {
        font-size: 26px;

}
}

@media all and (max-width: 1800px) and (min-width: 1025px) {
    #about_me {
        font-size: 6em;
        border: 20px inset #53d0e9;
    }
    .text {
        font-size: 18.5px;
        border: 20px inset #53d0e9;
    }
    .about-box--two {
        grid-row-end: 28;
    }
    .about-box--three {
        grid-row-start: 30;
        grid-row-end: 30;
    }
    #myself{
        border: 20px inset #53d0e9;
    }
    #kittens {
        border: 20px inset #53d0e9;
    }

}

@media all and (max-width: 1800px) and (min-width: 1401px) {
    .text {
        font-size: 24px;
        border: 20px inset #53d0e9;
    }
}
@media all and (max-width: 1024px) and (min-width: 700px) {
    #about_me{
        border: 10px inset #53d0e9;
        font-size: 3em;
    }
    .text{
        border: 10px inset #53d0e9;
        font-size: 12px;
    }
    #myself{
        border: 10px inset #53d0e9;
    }
    #kittens{
        border: 10px inset #53d0e9;
    }
    .about-box--three{
        grid-row-end: 30;
    }

}

@media all and (max-width: 699px) and (min-width: 520px) {
    .text{
        font-size: 8.5px;
    }
    .about-box--two{
        grid-row-end: 8;
    }
    .about-box--three{
        grid-row-start: 8;
        grid-row-end: 19;
    }
}

@media all and (max-width: 519px) and (min-width: 481px) {
    .text{
        font-size: 9px;
    }

    

}

@media all and (max-width: 480px) and (min-width: 426px) {
    .text{
        font-size: 8.2px;
    }

    

}
@media only screen 
  and (min-device-width: 376px) 
  and (max-device-width: 425px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .about-box--three{
        grid-row-end: 22;
    }
    .text{
        font-size: 7.1px;
    }

  }
  @media only screen 
  and (min-device-width: 321px) 
  and (max-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .text {
        font-size: 7px;
    }

  }


@media only screen 
  and (min-device-width: 301px) 
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .text {
        font-size: 7px;
    }
    .about-box--three{
        grid-row-end: 25;
    }
}

@media only screen 
  and (min-device-width: 240px) 
  and (max-device-width: 300px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .text {
        font-size: 6px;
    }
    .about-box--three {
        grid-row-end: 23;
    }

  }

/* image carousel page */

#carousel-container {
    height: 100vh;
}

#carouselScroll {
    padding-bottom: 5%;
    text-align: center;
}

.art-title {
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    margin: 2%;
    font-family: monospace;
    letter-spacing: normal;
    color: lightseagreen;
    opacity: 0.5;

}

.carousels {
    width: 80%;
    position: relative;
    margin: auto;
}

.myCarousels {

    display: none; 
} 


.carousel-image {
    object-fit: cover;
    display: block;
    margin:auto;
    width: 58%;
    border: 30px solid lightseagreen;

}

.reverse, .forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -22px;
    color: deeppink;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 1px 1px 0;

}

.forward {
    right: 0;
    border-radius: 1px 0 0 1px;
}

.reverse:hover, .forward:hover {
    background-color: rgba(102, 173, 206, 0.8);
}

.circle {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: deeppink;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, dot:hover {
    background-color:deepskyblue;

}

.opaque {

-webkit-animation-name: opaque;
-webkit-animation-duration: 2s;
animation-name: opaque;
animation-duration: 2s;

}

@-webkit-keyframes opaque {
    from {opacity: .5}
    to {opacity: 2}
}

@keyframes opaque {
    from {opacity: .5}
    to {opacity: 2}
}

/* Media Query for Image Carousel */



@media screen and (max-width: 1440px) {
    .carousel-image {
    height: 650px;
    }
    .reverse, .forward {
    font-size: 100px;
    top: 40%;
    }
    .art-title {
    font-size: 80px;
    }
    .circle {
    height: 50px;
    width: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .carousel-image {
        height: 550px;
       
    }
    .reverse, .forward {
     top: 190px;
     font-size: 80px;
    }

    .art-title {
    font-size: 50px;
    padding: 5%;
    }
    .circle {
    height: 30px;
    width: 30px;
    margin: 15px 10px;
    }
}


@media screen and (max-width: 768px) {

    .carousel-image {
    height: 535px;
    width: 100%;

    }
    .reverse, .forward {
        margin-left: 1px;
        font-size: 50px;
        padding: 40px;
        margin-top: 1px;
    
    }

    .circle {
    height: 15px;
    width: 15px;
    margin: 5px 5px;
    }

    .art-title {
    font-size: 30px;
    padding: 0;
    }

}


@media screen and (max-width: 425px) {
    carousel-image {
        height: 435px;
        width: 100%;

}
    .circle {
        height: 9px;
        width: 9px;
        margin: 6px 6px;
    }

}



@media screen and (max-width: 375px) {

    .carousel-image {
    height: 300px;

}
   .reverse, .forward {
    font-size: 50px;
    padding: 2px;
    margin-top: -50px;
   }
   .circle {
   margin: 0 7px;
   }

}

@media screen and (max-width: 320px) {

    .carousel-image {
        height: 300px;
        border: 6px solid lightseagreen;
    
    }

    .reverse, .forward {
        font-size: 25px;
        margin-top: -20%;
        padding: 20px;

    }

    .circle {
        margin: 0 9px;
        height: 12px;
        width: 12px;
    }

}

@media only screen 
  and (min-device-width: 240px) 
  and (max-device-width: 319px)
  and (-webkit-min-device-pixel-ratio: 2) {
   
  }

/* Images of art section end */



/* Start of hobbies section */

#interests-container {
    background-color: rgba(183, 232, 252, 0.911); 
    color: deeppink;
    font-family: monospace;
    font-size: xxx-large;
    padding: 15%;
    padding-top: 12%;
    letter-spacing: normal;
    text-align:center;
}

.all-interests {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2em;
} 


.image-box {
    color: deeppink;
    border: 2px solid deeppink;

}

.coding {
    padding: 0;
    width: 100%;
}

.txt-coding {
    font-family: monospace;
    text-align: center;
    font-size: 38%;
    padding: 5%;
    margin: 0;
    color: deeppink;
}

.hobby {
        color: deeppink;
        text-transform: capitalize;
        font-family: monospace;
        font-size: 12px;
        text-align: center;
        padding: 11%;
        margin-bottom: 20%;
}

 .txt  {
     font-family: monospace;
     font-size: 10px;
     padding: 2%;
     margin: 0;
     text-align: center;
     color: deeppink;
     width: 100%;
    
    
} 

.info {
    color: deeppink;
    border: 2px solid deeppink;
    padding: 10%;
}

/* hobbies section end */


/* apply page begins */

/* these are my colors specifically for light mode on my toggle button */

:root {
    --clr-background: #B5F9C5;
        --clr-box: #D2B5F9;
        --clr-border: #FABDC7;
        --clr-words: #1D614A;
    }

#FAC-container {
    width: 100%;
    background-color: var(--clr-background);
    padding: 5%;
}

/* dark mode of opposite colors for toggle button */

.dark-mode {
    --clr-background: #4A063A;
    --clr-box: #2D4A06;
    --clr-border: #054238;
    --clr-words: #E29EB5;

}

.wrapper-color-change {
    display:flex;
    justify-content:flex-end;
    align-items: center;
    margin-bottom: 3em;
}

.color-switch {
    width: 5em;
    height: 3em;
    border-radius: 10em;
    background:var(--clr-words);
    border: 4px solid var(--clr-border);
    position: absolute;
    cursor: pointer;
    margin-top: 115%;
    
}

.color-switch-toggle {
    width: 2em;
    height: 1.8em;
    background: var(--clr-background);
    position: absolute;
    border-radius: 11em;
    top: 0.4em;
    left: 0.2em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.color-switch::before {
    content: "Day Transform";
    position: absolute;
    display: inline-block;
    width: 13em;
    left: -10em;
    top: 0.4em;

}

#input-color-switch:checked ~ label .color-switch-toggle {
    transform: translateX(2em);
}

#input-color-switch:checked ~ .color-switch::before {
    content: "Night Transform";
}

#input-color-switch {
    display: none;
}

.apply {
    color: var(--clr-words);
    font-size: 16px;
    text-align: center;
    margin: 20px;
    padding: 1%;
    letter-spacing: 1em;
}

.edgebox--left {
    padding: 2%;
    background-color: var(--clr-box);
    color: var(--clr-words);
    width: 40%;
    float: left;
    border: 4px solid var(--clr-border);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: 10px 0px 10px 0px;
}

.middle-top {
    background-color: var(--clr-box);
    color: var(--clr-words);
    padding: 2%;
    height: 60%;
    width: 50%;
    float: right;
    border: 8px solid var(--clr-border);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: 10px 0px 10px 0px;

}

.edgebox--right {
    padding: 2%;
    background-color: var(--clr-box);
    color: var(--clr-words);
    width: 40%;
    float: left;
    border: 4px solid var(--clr-border);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin-bottom: 20%;
    margin: 10px 0px 10px 0px;
}

.bottom {
    background: var(--clr-border);
    color: var(--clr-words);
    padding: 1em;
    margin-top: 50%;
    clear: both;
    margin: 10px 0px 10px 0px;
}

.fac-text {
    font-size: large;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.edgebox--right p {
    text-align:left;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.edgebox--left p {
    text-align: left;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Media Query for FAC apply page */

@media screen and (max-width: 1440px) {

    .color-switch {
        margin-top: 0;
        }

}


@media screen and (max-width: 768px) {

   .color-switch {
    margin-top: 3%;
    } 

}
@media screen and (max-width: 425px) {
 
    .color-switch {

        margin-right: 5%;
}

}

@media screen and (max-width: 375px) {
 
    .color-switch {

}

}

@media screen and (max-width: 320px) {
    div.edgebox--left {
       width: 100%;
       padding: 3%;
       margin-top: 10%;
    }
    div.edgebox--right {
        width: 100%;
        margin-top: 10%;
     }
     div.middle-top {
        width: 100%;
        margin-top: 10%;
     }

     div.bottom {
        width: 100%;
        margin-top: 10%;
     }


}

@media only screen 
  and (min-device-width: 240px) 
  and (max-device-width: 319px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .color-switch::before {
        padding: 15%;
        left: -125px;
    }
    .color-switch {
        margin-top: 20%;
        margin-bottom: 0;
    }

  }

/* apply page end */

/* Links page and footer begins */

footer {
    background-color: burlywood;

}

.links_container {
    width: 100%;
    background-image: url(swirly-paint.jpeg);
    background-color: black; 
    background-position: center center; 
    background-size: cover;
    background-attachment: scroll;
}

#lk {
    text-align: center;
    font-size: 30px;
    color: lightgoldenrodyellow;
    font-family: 'Indie Flower', cursive;
}

.bg-info {
    text-align: center;
    font-size: 14px;
    margin: 10%;
    color: lightgoldenrodyellow;
    font-family: 'Indie Flower', cursive;
}

.website-link { 
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    padding: 5px;
    margin: 10px;
    display: block;
    color:lightseagreen;
}

.fa fa-github {
  
    content: "\f09b";
    font-weight: 900;
    font-family: 'FontAwesome';
    font-style: normal; 
}

.fab fa-free-code-camp {
    content: "\f2c5";
    font-weight: 900;
    font-family: 'FontAwesome';
    font-style: normal; 
}

.iconify {
    content: url('https://api.iconify.design/simple-icons:codewars.svg?height=24');
    vertical-align: -0.125em;
    font-style: normal; 
    font-weight: 900;
}

hr {
    color:linen;
}

.pjs-copyright p {
    color: lightgoldenrodyellow;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;

}

/* Media Query for Links page and footer */

@media screen and (max-width: 1440px) {


    #lk {
    font-size: 200px;
    }
    .bg-info {
    font-size: 90px;
    margin: 2%;
    }

}

@media screen and (max-width: 1024px) {

    #lk {
    font-size: 150px;
    }

    .bg-info {
    font-size: 50px;
    margin: 2%;
    }

}

@media screen and (max-width: 768px) {

    #lk {
    font-size: 100px;
    }


}

@media screen and (max-width: 425px) {

     .website-link {
     font-size: 40px;
     }
     hr {
     overflow: visible;
     }
     .pjs-copyright p {
     font-size: 30px;
     padding: 5%;
     }


}

@media screen and (max-width: 375px) {

     .website-link{
     font-size: 30px;
     }
     .pjs-copyright p {
     font-size: 20px;
     padding: 2%;
     margin-top: 2%;
     }
}

@media screen and (max-width: 320px) {
    .website-link {
    text-align: center;
    font-size: 25px;
    justify-content: center;
    display: flex;
    }
    hr {
    overflow: visible;
    }
    .pjs-copyright p {
    font-size: 17px;
    }
}


